.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > * {
  margin-bottom: 24px;
}

#first-header {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days-of-week-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days-of-week-container > label {
  margin: 8px 0;
}

.days-of-week-container > select {
  padding: 5px;
}

tr {
  height: 12px;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

table {
  border: 2px solid red;
}

thead {
  border: 2px solid blue;
}

tbody {
  border: 2px orange solid;
}
